#signup, #login {
  height: calc(100vh - 50px);
  width: calc(100% - 50px);
  padding: 25px;
  position: relative;
}

.login-signup-container {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #D86356;
  background: rgba(216,99,86, 0.1); 
  text-align: center;
}
.login-signup-container h1 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 2.25em;
}
.login-signup-container form {
  text-align: left;
}
.login-signup-container label {
  margin-left: 12px; 
  font-size: 0.75em;
}
.login-signup-container input{
  height: 1.25em;
  width: calc(100% - 36px);
  display: block;
  margin: 6px 12px 12px 12px;
  padding: 5px;
  border: 1px solid #D86356;
  background-color: #E9E8DD;
  color: #D86356;
  font-family: 'Source Code Pro';
  font-size: 0.9em;
}
.login-signup-container input:focus {
  height: calc(1.25em - 1.5pt);
  width: calc(100% - 38px);
  outline: none;
  border: 2px solid #D86356;
}
.login-signup-container input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(216,99,86, 0.75);
  opacity: 1; /* Firefox */
  font-family: 'Source Code Pro';
}
.login-signup-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(216,99,86, 0.75);
  font-family: 'Source Code Pro';
}
.login-signup-container input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(216,99,86, 0.75);
  font-family: 'Source Code Pro';
}

.login-signup-container textarea {
  height: 3em;
  width: calc(100% - 36px);
  margin: 6px 12px 12px 12px;
  padding: 5px;
  border: 1px solid #D86356;
  background-color: #E9E8DD;
  color: #D86356;
  font-family: 'Source Code Pro';
  font-size: 0.9em;
  letter-spacing: normal;
}
.login-signup-container textarea:focus {
  height: calc(3em - 1.5pt);
  width: calc(100% - 38px);
  outline: none;
  border: 2px solid #D86356;
}
.login-signup-container textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(216,99,86, 0.75);
  opacity: 1; /* Firefox */
  font-family: 'Source Code Pro';
}
.login-signup-container textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(216,99,86, 0.75);
  font-family: 'Source Code Pro';
}
.login-signup-container textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(216,99,86, 0.75);
  font-family: 'Source Code Pro';
}

.login-signup-container input[type="submit"]{
  height: 2em;
  width: calc(30% - 18px);
  margin: 16px auto;
  padding: 3px;
  border: 1px solid #D86356;
  background-color: #D86356;
  color: #ffffff;
  font-weight: 700;
}

.login-signup-container .error-div {
  margin-top: 12px;
  margin-bottom: 12px;
}

.login-signup-container .error-div p {
  font-size: 0.9em;
  margin-top: 3px;
  margin-bottom: 0px;
}